* {
 margin: 0;
 padding: 0;
}

html, body {
  background: #efefef;
  font-family: Arial;
}

#editor {
  position: absolute;
  z-index: 10;
  transform-style: preserve-3d;
}

.node {
  border: 1px solid #ccc;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  background: white;
  padding: 15px;
  display: inline-block;
  margin: 15px;
  position: absolute;
  min-width: 153px;
  width: 230px;
}

.node.selected .title {
  background: #28f;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

.node .id {
  position: absolute;
  color: #ccc;
  top: 15px;
  right: 40px;
}

.node .delete {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 20px;
  height: 19px;
  padding-top: 1px;
  text-align: center;
  color: #555;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}

.node.selected .delete {
  color: white;
}

.node .delete:hover {
  background: #555;
  color: white;
}

.node.selected .delete:hover {
  background: white;
  color: #28f;
}

.node h1 {
  border-bottom: 1px solid #ccc;
  background: #fafafa;
  margin: -15px -15px 15px;
  padding: 15px 15px 10px;
  font-size: 18px;
  font-weight: normal;
}

.node > canvas {
  width: calc(100% - 102px);
}

.node .gradient-widget-wrapper {
  width: 500px;
  height: 35px;
}

.node .output {
  float: right;
  margin-right: -15px;
  margin-left: 15px;
  width: 50px;
  height: 50px;
  display: block;
  border: 1px solid #ccc;
  border-right: 0;
}

.node .inputs {
  float: left;
  margin-left: -15px;
  margin-right: 15px;
}

.node .inputs .input {
  width: 50px;
  height: 50px;
  display: block;
  border: 1px solid #ccc;
  border-left: 0;
  border-bottom: 0;
}

.node .inputs .input:last-child {
  border-bottom: 1px solid #ccc;
}

.input .icon {
  font-size: 24px;
  text-align: center;
  color: #555;
}

.output .icon {
  font-size: 19px;
  text-align: center;
  color: #555;
}

.input .name, .output .name {
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  font-family: monospace;
  color: #555;
}

input {
  border: 1px solid #ccc;
  width: calc(100% - 30px);
  padding: 15px;
  height : 20px;
  display: inline-block;
}

input.short {
  width: calc(100% - 134px);
}

.ui-button-container {
  position: fixed;
  right: 10px;
  top: 15px;
  z-index: 999999;
}

.ui-button {
  float:right;
  border: 1px solid #ccc;
  background: white;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  color: #555;
  padding: 0 15px;
  font-size: 20px;
  margin-right: 5px;
}

.add-new-button {
  font-size: 40px;
  width: 50px;
  padding: 0;
}

.ui-button:hover {
  color: #000;
}

canvas.connecting-lines {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.node-classes-container {
  background: white;
  border: 1px solid #ccc;
  margin-top: 55px;
  margin-right: 5px;
  display: none;
}

.node-classes-container li {
  font-size: 20px;
  color: #555;
  padding: 5px 10px;
  display: block;
}

.node-classes-container li:hover {
  color: #fff;
  background: #555;
  cursor: pointer;
}

.node-classes-container li:first-child {
  padding-top: 8px;
}

.node-classes-container li:last-child {
  padding-bottom: 8px;
}

.node .inputs .input .widget {
  display: none;
  position: relative;
  width: 200px;
  padding: 15px;
  background: white;
  margin-left: -215px;
  border: 1px solid #ccc;
}
